{:paths ["resources" "src"]
 :deps {
        org.clojure/clojure {:mvn/version "RELEASE"}
        clojure.java-time {:mvn/version "0.3.2"}
        ring/ring-core {:mvn/version "1.7.1"}
        ring/ring-json {:mvn/version "0.5.0"}
        ring/ring-devel {:mvn/version "1.7.1"} ; TODO: deps for devel
        ring/ring-defaults {:mvn/version "0.3.2"}
        ring/ring-jetty-adapter {:mvn/version "1.7.1"}
        cheshire {:mvn/version "5.6.3"}
        metosin/ring-http-response {:mvn/version "0.9.1"}
        compojure {:mvn/version "1.6.1"}

        ; logging
        org.clojure/tools.logging {:mvn/version "0.5.0"}
        org.slf4j/slf4j-api {:mvn/version "1.7.28"}
        ch.qos.logback/logback-classic {:mvn/version "1.2.3"}
        }
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "RELEASE"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "76568540e7f40268ad2b646110f237a60295fa3c"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}}}
